{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div>
        <form action="{{ path('home') }}" method="post">
            <label>
                <input type="password" name="password">
            </label>
            <input type="submit" value="Entrer">
        </form>
    </div>
{% endblock %}
