{% extends 'base.html.twig' %}

{% block title %}Hello GarminConnectController!{% endblock %}

{% block body %}
    <div>
        <a href="https://connect.garmin.com/" target="_blank">Garmin Connect</a>
        <form action="{{ path('garmin_connect_cookies') }}" method="POST">
            <button type="submit">Valider</button>
            <label>
                Cookies
                <textarea name="cookies"></textarea>
            </label>
        </form>
    </div>
{% endblock %}
